@import "tailwindcss";
@font-face {
  font-family: 'Vazir';
  src: url('./assets/fonts/Vazir-FD-WOL.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'Vazir', sans-serif !important;
}